.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 18px;
}

.category-container {
  border: 2px solid #6e7efc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  width: 45%;
  background-image: linear-gradient(to right, #ddffbc, #04befe);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.category-header .category-name {
  margin-right: 10px;
}

.category-input {
  padding: 5px;
  width: 50px;
  margin-right: 10px;
}

.subcategory-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subcategory-container .subcategory-name {
  margin-right: 10px;
}

.subcategory-input {
  padding: 5px;
  width: 50px;
  margin-right: 10px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.date-picker {
  margin-right: 10px;
}

.category-header button {
  margin-left: 10px;
}

.expense-records {
  margin-top: 20px;
  width: 50%;
  align-self: center;
}

.total-expense {
  color: black;
  font-size: 18px;
}
