.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 18px;
}

.category-container {
  border: 2px solid #6e7efc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  width: 45%;
  background-image: linear-gradient(to right, #ddffbc, #04befe);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.category-header .category-name {
  margin-right: 10px;
}

.category-input {
  padding: 5px;
  width: 50px;
  margin-right: 10px;
}

.subcategory-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subcategory-container .subcategory-name {
  margin-right: 10px;
}

.subcategory-input {
  padding: 5px;
  width: 50px;
  margin-right: 10px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.date-picker {
  margin-right: 10px;
}

.category-header button {
  margin-left: 10px;
}

.expense-records {
  margin-top: 20px;
  width: 50%;
  align-self: center;
}

.total-expense,
.total-income {
  display: flex;
  color: black;
  align-items: center;
  justify-content: flex-start;
}

.total-expense > button,
.total-income > button {
  margin-left: 10px;
}

.remove-button {
  cursor: pointer;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.remove-button:hover {
  background-color: #ff7875;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.remove-button:focus {
  outline: none;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 0 0 2px rgba(255, 77, 79, 0.4);
}

.expenses-incomes-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.expenses-container,
.incomes-container {
  width: 50%;
}

.expenses-header,
.incomes-header {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
